# NAME:MEENAKSHI BHATTU
USN:21BTRCD032

Attempt all the questions
1)Create a Dataset Of your Own House, Such that you are analysing dataset & its different variables using pandas methods.Also use dropna(), fillna(mean,median,mode), Encoding techniques-replace(),category().get_dummies,Sklearn-ordinalencoder().


2)Write short description of encoding & its methods

# 1)Create a Dataset Of your Own House,

In [34]:
import pandas as pd
a={"names_of_house_members":["naven","hansi","sukanya","krishna"],"have_bike":["yes","no","yes","yes"],"age":[19,17,37,45],"bikes_age":[2,None,5,5]}
house=pd.DataFrame(a,index=[1,2,3,4])
house.rename_axis("S.NO")
print(house)

  names_of_house_members have_bike  age  bikes_age
1                 chinnu       yes   19        2.0
2                  hansi        no   17        NaN
3                sukanya       yes   37        5.0
4                krishna       yes   45        5.0

# dropna()

In [35]:
print("dataframe without dropping")
print(house)
droppeddf=house.dropna()
print("dataframe if we use dropna()")
print(droppeddf)

dataframe without dropping
  names_of_house_members have_bike  age  bikes_age
1                 chinnu       yes   19        2.0
2                  hansi        no   17        NaN
3                sukanya       yes   37        5.0
4                krishna       yes   45        5.0
dataframe if we use dropna()
  names_of_house_members have_bike  age  bikes_age
1                 chinnu       yes   19        2.0
3                sukanya       yes   37        5.0
4                krishna       yes   45        5.0

# fillna()

filling null values with mean()

In [39]:
#NOTE:here we have only one null value in bikes age column so we can do in the below way
print(house.fillna(house["bikes_age"].mean()))#if u see output it is filled with 4 which mean of ((2+5+5)/3==>4)

  names_of_house_members have_bike  age  bikes_age
1                 chinnu       yes   19        2.0
2                  hansi        no   17        4.0
3                sukanya       yes   37        5.0
4                krishna       yes   45        5.0

filling null values with mode()

In [51]:
print(house.fillna(house["bikes_age"].mode()[0]))#here after mode we used [0] bcz it means the mode() returns more than one value if there are ties in count so this [0] means return the first value in case of tie

  names_of_house_members have_bike  age  bikes_age
1                 chinnu       yes   19        2.0
2                  hansi        no   17        5.0
3                sukanya       yes   37        5.0
4                krishna       yes   45        5.0

filling null values with median()

In [54]:
print(house.fillna(house["bikes_age"].median()))

  names_of_house_members have_bike  age  bikes_age
1                 chinnu       yes   19        2.0
2                  hansi        no   17        5.0
3                sukanya       yes   37        5.0
4                krishna       yes   45        5.0

# replace()

replacing value in a coulumn()

In [67]:
house1=house
house1["age"]=house["age"].replace(19,15)#output of rhs will be a coulmn of age only so we can assign it to age column of house1
print(house1)

  names_of_house_members have_bike  age  bikes_age
1                 chinnu       yes   15        2.0
2                  hansi        no   17        NaN
3                sukanya       yes   37        5.0
4                krishna       yes   45        5.0

In [91]:
#in the above method if the age(values) of two people are same then both will be changed so 
#say if i want to replace the age of chinnu only then we can do in the below way
import pandas as pd
a={"names_of_house_members":["chinnu","hansi","sukanya","krishna"],"have_bike":["yes","no","yes","yes"],"age":[19,17,37,45],"bikes_age":[2,None,5,5]}
house=pd.DataFrame(a,index=[1,2,3,4])
print(type(house))
house.loc[1,"names_of_house_members"]=house.loc[1,"names_of_house_members"].replace("chinnu","kkr")
print(house)
#NOTE:IN THE ABOVE SCENARIO WE CANNOT REPLACE THE data of type "int64"

<class 'pandas.core.frame.DataFrame'>
  names_of_house_members have_bike  age  bikes_age
1                    kkr       yes   19        2.0
2                  hansi        no   17        NaN
3                sukanya       yes   37        5.0
4                krishna       yes   45        5.0

# category()

In [97]:
house["age"]=house["age"].astype("category")
print(house.dtypes)#see the output the data in series of "age" are converted from int64 to categorical data

names_of_house_members      object
have_bike                   object
age                       category
bikes_age                  float64
dtype: object

# get_dummies()

In [100]:
dummy_vars = pd.get_dummies(house["have_bike"], prefix="have_bike")
house = pd.concat([house, dummy_vars], axis=1)
print(house)

  names_of_house_members have_bike age  bikes_age  have_bike_no  \
1                    kkr       yes  19        2.0             0
2                  hansi        no  17        NaN             1
3                sukanya       yes  37        5.0             0
4                krishna       yes  45        5.0             0

   have_bike_yes  have_bike_no  have_bike_yes  have_bike_no  have_bike_yes
1              1             0              1             0              1
2              0             1              0             1              0
3              1             0              1             0              1
4              1             0              1             0              1

# Sklearn-ordinalencoder()

In [1]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder

a = {"names_of_house_members": ["chinnu", "hansi", "sukanya", "krishna"], "have_bike": ["yes", "no", "yes", "yes"], "age": [19, 17, 37, 45], "bikes_age": [2, None, 5, 5]}
house = pd.DataFrame(a, index=[1, 2, 3, 4])
encoder = OrdinalEncoder()
house["have_bike_encoded"] = encoder.fit_transform(house[["have_bike"]])
print(house["have_bike_encoded"])

1    1.0
2    0.0
3    1.0
4    1.0
Name: have_bike_encoded, dtype: float64

# 2)Write short description of encoding & its methods

answer is in attched pdf